@font-face {
    font-family: themify;
    src: url('./fonts/themify.eot');
    src: url('./fonts/themify.eot?#iefix') format('embedded-opentype'),
         url('./fonts/themify.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


[class^=ti-],
[class*=" ti-"] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.ti-time:before {
    content: "\e72b"
}

.ti-pin:before {
    content: "\e61b"
}

.ti-pin2:before {
    content: "\e6dd"
}

.ti-pin-alt:before {
    content: "\e6de"
}

.ti-location-pin:before {
    content: "\e693"
}

.ti-heart:before {
    content: "\e634"
}